.header {
    text-align: center;
    margin: 5% 0;
    padding: 20px 0;
    background-color: #617576;
    border-radius: 20px;
    color: #ffffff;
}
.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profileImage {
    border-radius: 50%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 200px;
    background-color: #617576;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    margin: 1%;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: #b0b39a;
    transition: background-color 0.3s ease;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 20px;
    border: none;
    margin: 1%;
    gap: 10px;
    font-size: 20px;
}

.Image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 99px;
    border: none;
    margin: 1%;
    gap: 10px;
}

.Image:hover{
    cursor: pointer;
}

.PicButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 200px;
    background-color: #617576;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    margin: 5%;
}

.PicButton:hover {
    cursor: pointer;
    background-color: #b0b39a;
    transition: background-color 0.6s ease;
}

.PButton {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 200px;
    background-color: #617576;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    margin: 1%;
}

.PButton:hover {
    cursor: pointer;
    background-color: #b0b39a;
    transition: background-color 0.6s ease;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 500px;
    padding: 10px;
    font-size: 20px;
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 5%;
}

.personalInfoContainer,
.securityInfoContainer,
.notificationsContainer {
    flex: 1;
    border-radius: 15px;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .profileContainer {
        flex-direction: column;
        gap: 20px;
    }
    
    .personalInfoContainer,
    .securityInfoContainer,
    .notificationsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
   .header {
    margin: 5% 15% 3% 15%;
   }
}

@media screen and (max-width: 600px) {
   .input {
       width: 300px;
   } 
}