body {
    font-size: 20px;
}

.header {
    text-align: center;
    margin: 3% 35%;
    padding: 2%;
    background-color: #617576;
    border-radius: 20px;
    color: #ffffff;
}

.description {
    text-align: left;
    margin: 1% 15%;
    padding: 3%;
    border-radius: 20px;
    color: black;
    background-color: #f8f8f8;
}

.quiz {
    margin-bottom: 5%;
}
